<!DOCTYPE html>
<html>
  <head>
    <title>Discover Box Hills | <%= @title %></title>
  </head>
  <body>
    <h1>Way to contact us</h1>
    <p>
      	<b>Postal Address:</b><br>		
		The Friends of Box Hill Association,<br>
		c/o the National Trust,<br> 
		Warren Farm Barn,<br> 
		Headley Lane,<br>
		Mickleham,<br> 
		Dorking, <br>
		RH5 6DG.		
		</br>
	    </br>
		<b>Email Address:</b> Friends of Box Hill -> info@friendsofboxhill.org.uk </br>
		<b>Telephone number:</b>+44 01306 885502
    </p>


  </body>
</html>