<!DOCTYPE html>
<html>
  <head>
    <title>Discover Box Hills | <%= @title %></title>
  </head>
  <body>
    <h2>Friends of Box Hill (FOBH)</h2>
		

    <p>
      
		
		<div class ="column2">
		<%= image_tag("about6.jpeg", :alt =>"") %>

		</div>
		<div class = "colomn1">
	      		Want to be more involved with your favourite National Trust property? Join your favourite property's supporter group to enjoy social events and raise money for the property.

				Working in partnership with staff, the groups have a special relationship with the property, helping to ensure that it flourishes and is enjoyed by the whole community.
				
				<br> <br> <br>
				<h3> About the Group </h3>
				
				
				
				The Friends of Box Hill Association was founded in 1964, and is now a registered charity. It is an independent association, with its own views and in control of its own money, affiliated to the Campaign to Protect Rural England.

				We love the Hill and keep a close watch on everything that affects it. Any one may join and at present we have about 300 members drawn from a wide area mainly from Surrey and London. We advise the National Trust on the conservation of the natural beauty of the Hill and support its work.

				We are particularly concerned with the improvement of the amenities on the Hill and in educating the public in its unique ecology. We also want the public to enjoy their recreation in this lovely place. We keep in touch with our members with quarterly newsletters and have an active programme of events, walks, talks and fun.

				We would like to tell you more about our group; you will find details of our membership enquiry here: <%= link_to "Contact", contact_path %>
				
				
		<br><br><br><b>Postal Address:</b><br>
		<br>		
		The Friends of Box Hill Association,<br>
		c/o the National Trust,<br> 
		Warren Farm Barn,<br> 
		Headley Lane,<br>
		Mickleham,<br> 
		Dorking, <br>
		RH5 6DG.		
		</br>
		</div>
				
		
    </p>


  </body>
</html>