<div id="footer-content">

	<div class="column1">
		<h2> Addres goes here</h2>
	</div>
	<div class="column2">
		<ul class="list">

			<li><a href="http://www.nationaltrust.org.uk">National Trust</a></li> 
			<li><a href="http://www.youtube.com/user/FRIENDSOFBOXHILL?blend=1&ob=video-mustangbase">YouTube Channel</a></li> 
			<li><a href="#">Donate</a></li>
			<li><%= link_to "Volunteers", users_path %></li>
		  <% if signed_in? %>
			<li>
		     <%= link_to "Settings", edit_user_path(current_user) %>         
			<%= link_to "Sign out", signout_path, :method => :delete %></li>
		  <% end %>
	</div>
</div>